.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.SpecMatType{

}

.video-container {
    max-width: calc(100% - 160px);
    width: 100%;
    
}

.camSnap {
    position: fixed;
    top: 40%; /* vertical center */
    right: 20px; /* stick to right edge */
    transform: translateY(-50%); /* perfect centering */
    width: 100px; /* size */
    height: 160px;
    border-radius: 50%; /* circle */
    font-size: 28px; /* bigger icon */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}