@page "/"
@using Services
@using Entities
@inject Service myServ
@inject IBIZ Biz
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="row">
        <div class="flex-wrap d-flex">
            @if (materialTypes != null && materialTypes.Any())
            {
                @foreach (MaterialType item in materialTypes)
                {
                    <div class="card" style="width: 18rem;" @onclick="(e) => HandleClick(item.Id)">
                         
                            <img class="card-img-top" src="/img/@item.IconPath" alt="Card image cap" onerror="this.onerror=null;this.src='/img/PH.png';" />
                            <div class="card-overlay">@item.Name</div>
                        
                        
                    </div>
                }
            }
        </div>
    </div>
</div>



@code {
    //
    private List<MaterialType> materialTypes;
    [Inject] NavigationManager Nav { get; set; } // Inject navigation service

    /// <summary>
    /// Initializes the component and retrieves all material types from the service.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        materialTypes = await myServ.GetAllMaterialTypesAsync();
        Biz.packagedUnit = new PackagedUnit(); // Reset the object after printing
    }

    /// <summary>
    /// Sets the property of the PackagedUnit object to the selected MaterialType
    /// </summary>
    /// <param name="Inid">The ID of the selected Plastic material type</param>
    /// <exception cref="InvalidOperationException"></exception>
    private void SetProperty(int Inid)
    {
        var mat = materialTypes.FirstOrDefault(x => x.Id == Inid);

        if (mat != null)
        {
            Biz.packagedUnit.SpecificType.MatType = mat;
        }
        else
        {
            throw new InvalidOperationException($"MaterialType with Id {Inid} was not found.");
        }

    }

    /// <summary>
    /// handle click event for selected material type
    /// </summary>
    /// <param name="id">The ID of the selected Plastic Material type</param>
    private void HandleClick(int id)
    {
        SetProperty(id);  // Set the property first
        Nav.NavigateTo("/Specifik");  // Navigate programmatically
    }

}