@page "/"
@using Services
@using Entities
@inject Service myServ
@inject IBIZ Biz
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="row">
        <div class="flex-wrap d-flex">
            @if (materialTypes != null && materialTypes.Any())
            {
                @foreach (MaterialType item in materialTypes)
                {
                    <div class="card" style="width: 18rem;" @onclick="(e) => HandleClick(item.Id)">
                         
                            <img class="card-img-top" src="/img/@item.IconPath" alt="Card image cap" onerror="this.onerror=null;this.src='/img/PH.png';" />
                            <div class="card-overlay">@item.Name</div>
                        
                        
                    </div>
                }
            }
        </div>
    </div>
</div>



@code {

    private List<MaterialType> materialTypes;

    protected override async Task OnInitializedAsync()
    {
        materialTypes = await myServ.GetAllMaterialTypesAsync();
    }

    private void SetProperty(int Inid)
    {
        var mat = materialTypes.FirstOrDefault(x => x.Id == Inid);

        if (mat != null)
        {
            Biz.packagedUnit.SpecificType.MatType = mat;
        }
        else
        {
            throw new InvalidOperationException($"MaterialType with Id {Inid} was not found.");
        }

    }


    [Inject] NavigationManager Nav { get; set; } // Inject navigation service

    private void HandleClick(int id)
    {
        SetProperty(id);  // Set the property first
        Nav.NavigateTo("/Specifik");  // Navigate programmatically
    }

}